<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var xOff = 5;
    var yOff = 5;

    console.log(window.innerWidth);

     for (var x = 0; x < window.innerWidth; x+=10) {
         for (var y = 0; y < window.innerHeight; y += 10) {
    //         document.body.innerHTML += "<div style='position: absolute; margin-left: " + x + "px; margin-top: " + y + "px;'></div>"
         }
         console.log(x);
     }
</script>
</body>
</html>